@use '@/index.scss' as *;
.form_wrapper {
	border: 1px solid #ccc;
	height: fit-content;
	width: 100%;
	padding: 10px;
	min-width: $container_sm;
}

.prod {
	&_form_wrapper {
		border: 1px solid #ccc;
		height: fit-content;
		width: 100%;
		padding: 10px;
		min-width: $container_sm;
	}
}
